<%- include ("header") %>
<% if (entries.keys().length) { %>
  <% entries.keys().forEach(function(entry) { %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= entries.get(entry).name %>
      </div>
      <div class="panel-body">
        <%= entries.get(entry).phone %>
        <br>
        <%= entries.get(entry).email %>
      </div>
    </div>
  <% }) %>
<% } else { %>  No entries! <a href="/add">Add one!</a>
<% } %>
<%- include ("footer") %>
